

$colorlightgreen: lightgreen;
$colorblack: black;
$margin:0;


body{
    background-color: lightgreen;
}
*{
    margin: $margin;
    box-sizing:border-box ;
}

.divbanner__li{
    list-style: none;
    background: $colorlightgreen;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-flow:row wrap-reverse;
    align-items: baseline;

}
.divbanner__logo{
    width: 200px;
    height:200px;
}

h1{
                color:black
                display:flex;
                justify-content:center;
                text-align:center;
                font-size:medium;
            }
            



.navbar{

}

.navbar__menu{

}

.navbar__button{
    background-color: #c072ec;
}

.occupation{
    h3{
    
    }
}

.tittle{
    h2{

    }
}