.navbar{
    background:$color-three;
    padding: 10px;
    display: flex;
    justify-content: space-around;

    .navbar__menu{
        display: inline-block;
        background-color: $color-four;
        color: $color-font;
        font-weight: bold;
        padding: 10px;
        text-decoration: none;
    }
}
.navbar:hover{
    background:$color-three;
}
.navbar__menu:hover{
    background:$color-five;
}